.filter__buttons {
    & div {
        text-align: center;
        width: 50%;
        border: 1px solid red;
        cursor: pointer;
        &.active {
            background: rgba(230, 201, 201, 0.2)
        }
    }
}